<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <mat-icon>menu</mat-icon>
  <span>TODO App</span>
  <button mat-icon-button (click)="addNewTodo()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="todo-container" fxLayout="column" fxFill style="background-color:aliceblue" fxLayoutGap="8px">
  <app-todo-item
    *ngFor="let todo of todos$ | async"
    [todo]="todo"
    (updateStatus)="updateStatus($event)"
    (itemDeleteEvent)="onTodoDelete($event)"
  ></app-todo-item>
</div>
